<div class="container my-5">
  <div class="mb-3">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="FieldsetCheck"
        (click)="getApis()"
      />
      <label class="form-check-label" for="disabledFieldsetCheck">
        Virtual Program
      </label>
    </div>
    <br />
    <mat-form-field>
      <mat-label>Select Virtual Program</mat-label>

      <mat-select
        [(value)]="selectedPrograms"
        multiple
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option [value] = 'selectAll'>Select All</mat-option>
        <mat-option
          *ngFor="let program of programList"
          [value]="program['programId']"
          >{{ program["programName"] }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Select Project</mat-label>
      <mat-select multiple>
        <mat-option *ngFor="let project of resultArray" [value]="project">{{
          project["projectName"]
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
